# Created by https://www.gitignore.io/api/windows

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# My list
#*.jpg
#*.png
#*.bmp

*.bak
Yukilog/*.bak
Yukilog/dat/*.bak

Debug/
Release/
Yukilog/Debug/
Yukilog/Release/

*.sln
*.sdf
*.opensdf

Yukilog/*.vcxproj
Yukilog/*.filters

.vs/