# exclude every other things
*

# include .gitignore itself
!/*.gitignore

# include README.md
!/README.md

# include /Yuki-log
!/Yuki-log

# include source files
!/Yuki-log/*.cpp
!/Yuki-log/*.c
!/Yuki-log/*.h
!/Yuki-log/*.hpp

# include /Yuki-log/dat
!/Yuki-log/dat

# include files that store data for the program
!/Yuki-log/dat/*.txt
!/Yuki-log/dat/*.dat