# exclude every other things
*

# include .gitignore itself
!/*.gitignore

# include README.md
!/README.md

# include source files
!/*.cpp
!/*.c
!/*.h
!/*.hpp

# include /dat
!/dat

# include files that store data for the program
!/dat/*.dat